NODE_ENV=development
DB_USER=db_username
DB_PASSWORD=db_password
JWT_SECRET=jwt_secret
NOREPLY_USERNAME=email_username
NOREPLY_PASSWORD=email_password
NOREPLY_HOST=email_host
CLIENT_URL=client_url
BASE_URL=api_url
DOMAIN=domain_for_cookie
