NODE_ENV=development
DB_URI=mongodb_uri
JWT_SECRET=jwt_secret
NOREPLY_USERNAME=smtp_noreply_username
NOREPLY_PASSWORD=smtp_noreply_password
NOREPLY_HOST=smtp_noreply_host
CLIENT_URL=client_url_for_cors
TEST_CLIENT_URL=additional_client_url
BASE_URL=api_base_url
DOMAIN=domain
